{% load staticfiles %}
<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
	<link href="{% static 'sondage/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'sondage/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'sondage/css/styles.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
<title>control panel</title>

<div id="active-status">current : <em>{{currentStatus}}</em></div>

<form class="ctrl-form" action="#" method="post">{% csrf_token %}
   <p><input type="submit" name="bouton"
   value="active" class="btn btn-success btn-lg"></p>
<p><input type="submit"  name="bouton"
   value="RAZ" class="btn btn-default btn-lg"></p>
<p><input type="submit"  name="bouton"
   value="BLACK" id="black-btn" class="btn btn-default btn-lg"></p>

<div id="ratio-fed-up">question biaisée : <em>{{ratio_biased}}%</em></div>
<div id="ratio-fed-up">pas claire : <em>{{ratio_pas_clair}}%</em></div>
<div id="ratio-fed-up">manque de ressource : <em>{{ratio_manque_ressource}}%</em></div>
<div id="ratio-fed-up">en ont marre : <em>{{ratio_fed_up}}%</em></div>
<br/><br/>

<p><input type="submit"  name="bouton"
   value="INIT" class="btn btn-primary btn-lg"></p>
</form>