{% load staticfiles %}
<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
	<link href="{% static 'sondage/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'sondage/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'sondage/css/slider.css' %}" rel="stylesheet">
	<link href="{% static 'sondage/css/styles.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
  <body>
<title>UN FAIBLE DEGRÉ D'ORIGINALITÉ</title>

<div id="standby"> VOILÀ, BRAVO, VOUS ÊTES CONNECTÉ/E<br/><br/>Ceci dit, vous pouvez remettre votre appareil en veille, on ne s'en servira pas avant la fin du spectacle. </div>
<form action="/sondage/" method="post"> {% csrf_token %}
	<input type="submit" id="bonjour" value="D'accord" id="un-btn" class="btn btn-primary btn-lg"/>
</form>

</body>
