{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
	<link href="{% static 'sondage/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'sondage/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'sondage/css/slider.css' %}" rel="stylesheet">
	<link href="{% static 'sondage/css/styles.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
  <body>
<title>{% trans "UN FAIBLE DEGRÉ D'ORIGINALITÉ"%}</title>

{% get_available_languages as languages %}

{% for lang_code, lang_name in languages %}
	{% language lang_code %}
		<a href="{% url "sondage:index" %}"> {{lang_name}} </a>
	{% endlanguage %}
{% endfor %}

<div id="standby"> {% trans "VOILÀ, BRAVO, VOUS ÊTES CONNECTÉ/E" %}<br/><br/>{% trans "Ceci dit, vous pouvez remettre votre appareil en veille, on ne s'en servira pas avant la fin du spectacle." %} </div>
<form action="/sondage/" method="post"> {% csrf_token %}
	<input type="submit" id="bonjour" value="{% trans "D'accord" %}" id="un-btn" class="btn btn-primary btn-lg"/>
</form>

</body>
