{% load staticfiles %}
<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
	<link href="{% static 'sondage/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'sondage/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'sondage/css/slider.css' %}" rel="stylesheet">
	<link href="{% static 'sondage/css/styles.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
  <body>
<title>UN FAIBLE DEGRÉ D'ORIGINALITÉ</title>

<div id="howmuch-title"> VOUS SEREZ COMBIEN À RÉPONDRE SUR CET APPAREIL ? </div>

<form action="/sondage/form/" method="post"> {% csrf_token %}
	<input type="submit" name="choixCoef" value="UN" id="un-btn" class="btn btn-primary btn-lg"/>
	<input type="submit" name="choixCoef" value="DEUX" id="deux-btn" class="btn btn-primary btn-lg"/> 
</form>

</body>
